* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    top: 0;
    left: 0;
    /* background-color: black; */
    background: teal;
    /* background-color: #251240;; */
}

h1 {
    text-align: center;
    color: white;
    margin: 20px;
}

.container {
    z-index: -2;
    position: absolute;
    top: 5rem;
    width: 80%;
    height: 70%;
    left: 10rem;
    box-shadow: 0 5px 45px rgba(0,0,0,0.6);
    background-color: #47b8b1;
    /* background-color: #4e4163; */
}
.container header{
    background: black;
    font-size: 23px;
    position: absolute;
    top: 8rem;
    width: 420px;
    height: 200px;
    /* font-weight: bolder; */
    left: 24rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    color: white;
    display: none;
    z-index: 4;
}
.container header .close{
    padding: 10px 20px;
    border-radius: 23px;
    border: 0;
    outline: 0;
    font-size: 20px;

}

.container-space{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 7rem;
    width: 70%;
    height: 60%;
    left: 10rem;
    /* background-color: rgb(245, 240, 240); */
}
.child{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
    align-items: inherit;
    bottom: 0;
    /* background-color: #94e7b5; */
    background-color: black;
}
.input-field{
    text-align: center;
    outline: 0;
    /* padding: 10px; */
    border-radius: 23px;
    position: absolute;
    background: transparent;
    background: #139268;
    /* background: black; */
    /* color: white; */
    top: 39rem;
    left: 5rem;
    /* box-shadow: 0px 3px 10px rgb(255 255 255 / 70%); */
    border: 0;
    width: 300px;
    height: 45px;
    font-size: 17px;
}
.search{
    padding: 10px;
    left: 27rem;
    /* width: 120px; */
}
input::placeholder{
    color: black;
    margin: 2px;
}
.submit{
    outline: 0;
    border: 0;
    background-color: #0b1f2e42;
    color: white;
    left: 60rem;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    height: 40px;
}
